<html>
  <head>
    <title>First Flask app</title>
  </head>
  <!--adding custom style tag called yellow-->
  <style>
    .yellow {
      background-color: yellow
    }
  </style>
  <body>
    <h1>User Input</h1>
    <form action="/" method="POST">
      <textarea name="user_input"></textarea>
      <input type="submit" value="Click here">
    </form>
    <br></br>
    {% if user_output %}
      <h1>User Output</h1>
      <span class="yellow">{{user_output}}</span>
    {% endif %}
  </body>
</html>
